{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Mi Cajas</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="container-fluid">
                <div class="row" style="margin-bottom: 20px">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a data-toggle='tab' href="#all_items">All Items</a>
                            </li>
                            <li>
                                <a data-toggle='tab' href="#scheduled_cajas">Scheduled Cajas</a>
                            </li>
                        </ul>
                </div> <!--- row -->
                <div class="tab-content">
                    <div id="all_items" class="tab-pane fade in active">
                    {% if not cart.is_empty %}
                        {% for period, cart_items in cart.cart_groups %}
                            <div class="row">
                                <h4 class="text-muted">{{period}} Subscriptions</h4>
                                <hr>
                            </div>
                            <div class="row">
                            {% for cart_item in cart_items %}
                                <div class="col-md-3">
                                    {% include 'cart/cart_item.html' %}
                                </div>
                            {% endfor %}
                            </div>
                            <div class="row">
                                <hr>
                            </div>
                        {% endfor %}
                    {% else %}
                    <div class="row">
                        <p class="text-muted">Your caja is empty.</p>
                    </div>
                    {% endif %}
                    </div>
                    <div id="scheduled_cajas" class="tab-pane fade">
                        {% if not cart.is_empty %}
                            {% for caja in cart.cajas %}
                                <div class="row">
                                    <h4 class="text-muted">Caja
                                        #{{forloop.counter}} arriving on
                                        {{caja.delivery_date}}</h4>
                                    <hr>
                                </div>
                                <div class="row">
                                {% for cart_item in caja.cart_items.all %}
                                    <div class="col-md-3">
                                        {% include 'cart/cart_item.html' %}
                                    </div>
                                {% endfor %}
                                </div>
                                <div class="row">
                                    <hr>
                                </div>
                            {% endfor %}
                        {% else %}
                        <div class="row">
                            <p class="text-muted">You have no scheduled cajas.</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div><!-- continer-fluid -->
        </div> <!-- col-md-8 -->
        <div class="col-md-4">
            <div class="well">
                <p style="font-weight: bold; font-size: large">
                Subtotal ({{ cart.total_qty }} item{% if cart.total_qty > 1 %}s{%endif %}):
                <span class="cart-subtotal">${{cart.subtotal}} COP</span></p>
                    <button type="submit" class="btn btn-warning
                        btn-block">Proceed to checkout</button>
            </div>
        </div>
    </div> <!-- row -->
</div> <!-- continer-fluid -->
{% endblock %}
