{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <h1>Mi Caja</h1>
        <div class="col-md-8">
            <div class="well">
                {% if cart_items %}
                    {% for cart_item in cart_items %}
                        {% if forloop.first %}
                            <div class="row">
                        {% endif %}
                            <div class="col-md-3">
                                {% include 'cart/cart_item.html' %}
                            </div>
                        {% if forloop.counter|divisibleby:3 %}
                            </div>
                            <div class='row'>
                        {% endif %}
                        {% if forloop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                <p>Your caja is empty.</p>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <p style="font-weight: bold; font-size: large">
                Subtotal ({{ cart.total_qty }} item{% if cart.total_qty > 1 %}s{%endif %}):
                <span class="cart-subtotal">${{cart.subtotal}} COP</span></p>
                    <button type="submit" class="btn btn-warning
                        btn-block">Proceed to checkout</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
