{% if user.is_authenticated %}
<a href="#" class="dropdown-toggle"
    data-toggle="dropdown">Your Account
    <span class="caret"></span>
</a>
{% else %}
<a href="#" class="dropdown-toggle"
    data-toggle="dropdown">Sign In
    <span class="caret"></span>
</a>
{% endif %}
<ul class="dropdown-menu" role="menu">
    {% if not user.is_authenticated %}
    <li><a href="{% url 'auth_login' %}">Sign In</a></li>
    <li><a href="{% url 'registration_register' %}">New Customer</a></li>
    <li class="divider"></li>
    {% endif %}
    <li class="dropdown-header" style="font-size: 18px;
    font-weight: bold; color: darkblue;">Your Account</li>
    <li><a href="#">Account</a></li>
    <li><a href="#">Orders</a></li>
    {% if user.is_authenticated %}
    <li class="divider"></li>
    <li><a href="{% url 'auth_logout' %}">Not {{user.first_name}}? Sign Out</a></li>
    {% endif %}
</ul>
