body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.thege-showcase .navbar .container {
  width: auto;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Remesa stuff */

.product-instock {
    display: inline-block;
    color: green;
    font-size: large;
}

.product-price {
    display: inline-block;
    color: darkred;
    font-size: large;
    font-weight: bold;
}

.cart-subtotal {
    display: inline-block;
    color: darkred;
    font-size: large;
    font-weight: bold;
}
