    <div class="row">
       <a href="">
           <img class="img-responsive" src="{{product.product.photo.url}}"
           alt="Responsive image" style="max-width: 100px"></img>
       </a>
    </div>
    <div class="row">
        <p><big><strong><a href="">{{prodcut.product.name}}</a></strong></big></p>
    </div>
    <div class="row">
        <p><strong>Price: <strong style="color:darkred">${{product.product.price_in_cop}}.000 COP</strong></p>
    </div>
    <div class="row">
        <p><strong>Quantity: {{product.qty}}</strong>{{ form }}</p>
    </div>
    <div class="row">
        <p><strong>Frecuency: {{product.deliver_every}}</strong>{{ form }}</p>
    </div>
