{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                      <li data-target="#carousel" data-slide-to="0" class="active"></li>
                      <li data-target="#carousel" data-slide-to="1"></li>
                      <li data-target="#carousel" data-slide-to="2"></li>
                </ol>
     
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {% for feature in featured_products %}
                        {% if forloop.first %}
                    <div class="item active">
                        {% else %}
                    <div class="item">
                        {% endif %}
                        <img class="img-responsive" style="max-height: 500px;
                        width: auto; margin: 0 auto"
                        src="{{feature.product.photo.url}}" alt="Responsive image">
                        <div class="carousel-caption">
                            <h1>{{feature.product.name}}</h1>
                            <p>{{feature.product.description}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                </div> <!-- Carousel -->
 
        </div>
        <div class="col-md-4">
            <div class="well">
                Quiero subscribirme!
                {{ form }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

